#Converting user comments data into SQL table

In [29]:
import sys
sys.path.append('/Users/alexsutherland/Dropbox/Insight/WeightLossReddit/')
import redditDataIO
import pandas as pd
import numpy as np
import os
os.chdir('/Users/alexsutherland/Dropbox/Insight/WeightLossReddit/')

Loading the data from a csv:

In [5]:
userCommentData = pd.read_csv('Data/6.20.15-UserComment.csv')

/Users/alexsutherland/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1139: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

Let's look to see if there's anything we can clean up:

In [6]:
userCommentData.head()

,Unnamed: 0,score,controversiality,body,subreddit,link_title,link_id,created_utc,username,userid
0,0,2,0,Lenny is the man. I'm good friends with his so...,funny,Millionaires In America (Not OC),t3_2u8mg2,1422674804,BrovietUnion1,1
1,1,11,0,"CondoInternet, brobeans.",technology,SpaceX confirms $1 billion funding round with ...,t3_2t3giy,1421824107,BrovietUnion1,1
2,2,2,0,"Baller, thanks!! Happy new year!",Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420078827,BrovietUnion1,1
3,3,1,0,"Awesome, thanks for the advice!",Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420048144,BrovietUnion1,1
4,4,3,0,Great call! I'm from a place with 0 public tra...,Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420008479,BrovietUnion1,1

The first column is not useful, let's drop that.

In [11]:
userCommentDataCleaned = userCommentData.drop(['Unnamed: 0'],axis=1)
userCommentDataCleaned.head()

,score,controversiality,body,subreddit,link_title,link_id,created_utc,username,userid
0,2,0,Lenny is the man. I'm good friends with his so...,funny,Millionaires In America (Not OC),t3_2u8mg2,1422674804,BrovietUnion1,1
1,11,0,"CondoInternet, brobeans.",technology,SpaceX confirms $1 billion funding round with ...,t3_2t3giy,1421824107,BrovietUnion1,1
2,2,0,"Baller, thanks!! Happy new year!",Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420078827,BrovietUnion1,1
3,1,0,"Awesome, thanks for the advice!",Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420048144,BrovietUnion1,1
4,3,0,Great call! I'm from a place with 0 public tra...,Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420008479,BrovietUnion1,1

In [15]:
userCommentDataCleaned.describe()

        created_utc         userid
count  9.734580e+05  973458.000000
mean   1.394449e+09    1557.345064
std    3.160666e+07     958.313796
min    1.156315e+09       1.000000
25%    1.375850e+09     748.000000
50%    1.400912e+09    1514.000000
75%    1.420354e+09    2350.000000
max    1.434830e+09    3341.000000

For some reason, the score and controversiality columns are now showing up in the .describe() table. Let's investigate why:

In [14]:
userCommentDataCleaned['score'].value_counts()

1     351474
2     172968
3      80593
1      53513
4      29696
0      28278
5      27079
2      26779
6      19845
7      14491
3      12879
8      11082
9       8802
-1      8235
10      7142
...
2175     1
1050     1
1053     1
1055     1
1057     1
2370     1
664      1
765      1
trees    1
3544     1
768      1
761      1
767      1
764      1
1054     1
Length: 2057, dtype: int64

It looks like there is some text in this column:

In [16]:
userCommentDataCleaned.ix[userCommentDataCleaned['score'] == 'trees',:]

,score,controversiality,body,subreddit,link_title,link_id,created_utc,username,userid
374706,trees,My smoke spot for tonight. Go Avs!,t3_24f1fg,1398921541.0,JimmyTree46,1160,NaN,NaN,NaN

Let's drop this row to see if that improves things:

In [17]:
userCommentDataCleaned = userCommentDataCleaned.drop(374706)

In [51]:
userCommentDataCleaned2 = userCommentDataCleaned.copy()
for item in userCommentDataCleaned['score'].value_counts().index:
    try:
        int(item)
    except:
        userCommentDataCleaned2 = userCommentDataCleaned2.drop(userCommentDataCleaned2.ix[userCommentDataCleaned2['score'] == item].index.values)

In [52]:
userCommentDataCleaned.shape

(973795, 9)

In [53]:
userCommentDataCleaned2.shape

(973690, 9)

In [55]:
userCommentDataCleaned2.dtypes

score                object
controversiality     object
body                 object
subreddit            object
link_title           object
link_id              object
created_utc         float64
username             object
userid              float64
dtype: object

It still thinks score is an object, not an int/float. Let's try to convert this:

In [58]:
userCommentDataCleaned2['score'] = userCommentDataCleaned2['score'].convert_objects(convert_numeric=True)

In [59]:
userCommentDataCleaned2.dtypes

score               float64
controversiality     object
body                 object
subreddit            object
link_title           object
link_id              object
created_utc         float64
username             object
userid              float64
dtype: object

In [60]:
userCommentDataCleaned2.describe()

               score   created_utc         userid
count  973564.000000  9.734580e+05  973458.000000
mean        6.809339  1.394449e+09    1557.345064
std        53.149711  3.160666e+07     958.313796
min      -245.000000  1.156315e+09       1.000000
25%         1.000000  1.375850e+09     748.000000
50%         2.000000  1.400912e+09    1514.000000
75%         3.000000  1.420354e+09    2350.000000
max      6014.000000  1.434830e+09    3341.000000

Great, score is now a 64 bit float. Let's look into why controversiality is not a float:

In [61]:
userCommentDataCleaned2['controversiality'].value_counts()

0    827897
0    128658
1     14595
1      2414
dtype: int64

Looks like an issue with some being ints and others being strings, let's do another convert objects:

In [62]:
userCommentDataCleaned2['controversiality'] = userCommentDataCleaned2['controversiality'].convert_objects(convert_numeric=True)

In [63]:
userCommentDataCleaned2.describe()

               score  controversiality   created_utc         userid
count  973564.000000     973564.000000  9.734580e+05  973458.000000
mean        6.809339          0.017471  1.394449e+09    1557.345064
std        53.149711          0.131018  3.160666e+07     958.313796
min      -245.000000          0.000000  1.156315e+09       1.000000
25%         1.000000          0.000000  1.375850e+09     748.000000
50%         2.000000          0.000000  1.400912e+09    1514.000000
75%         3.000000          0.000000  1.420354e+09    2350.000000
max      6014.000000          1.000000  1.434830e+09    3341.000000

Looks good. Let's look at the full table again:

In [65]:
userCommentDataCleaned2

,score,controversiality,body,subreddit,link_title,link_id,created_utc,username,userid
0,2,0,Lenny is the man. I'm good friends with his so...,funny,Millionaires In America (Not OC),t3_2u8mg2,1422674804,BrovietUnion1,1
1,11,0,"CondoInternet, brobeans.",technology,SpaceX confirms $1 billion funding round with ...,t3_2t3giy,1421824107,BrovietUnion1,1
2,2,0,"Baller, thanks!! Happy new year!",Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420078827,BrovietUnion1,1
3,1,0,"Awesome, thanks for the advice!",Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420048144,BrovietUnion1,1
4,3,0,Great call! I'm from a place with 0 public tra...,Seattle,"First New Year's Eve in Seattle, and I have a ...",t3_2qwaqb,1420008479,BrovietUnion1,1
5,1,0,That number was from when I was cutting 2-3 lb...,progresspics,"Update [M/24/6'0""]: 1.5 years later, got fat a...",t3_2owbfv,1418377352,BrovietUnion1,1
6,2,0,Haha well thanks for the ideas. This thread wa...,AskWomen,"I've often wondered: What is your perfect ""fir...",t3_2p0cyo,1418345620,BrovietUnion1,1
7,2,0,Sounds super fun! I'd definitely be down haha ...,AskWomen,"I've often wondered: What is your perfect ""fir...",t3_2p0cyo,1418344135,BrovietUnion1,1
8,2,0,I credit hot broga,progresspics,"Update [M/24/6'0""]: 1.5 years later, got fat a...",t3_2owbfv,1418335103,BrovietUnion1,1
9,1,0,"I like the ""no table separating you"" bit. I ne...",AskWomen,"I've often wondered: What is your perfect ""fir...",t3_2p0cyo,1418334609,BrovietUnion1,1
10,2,0,Haha you sound like an awesome date!,AskWomen,"I've often wondered: What is your perfect ""fir...",t3_2p0cyo,1418334445,BrovietUnion1,1
11,2,0,"That sounds awesome, actually! Guessing it's n...",AskWomen,"I've often wondered: What is your perfect ""fir...",t3_2p0cyo,1418332523,BrovietUnion1,1
12,2,0,Sounds fun! What if they suck at ice skating /...,AskWomen,"I've often wondered: What is your perfect ""fir...",t3_2p0cyo,1418332453,BrovietUnion1,1
13,1,0,"Sure thing, and thanks!\r\n\r\nThe studio I go...",progresspics,"Update [M/24/6'0""]: 1.5 years later, got fat a...",t3_2owbfv,1418323057,BrovietUnion1,1
14,2,0,"Totally true, the diet is so key. I'm making t...",progresspics,"Update [M/24/6'0""]: 1.5 years later, got fat a...",t3_2owbfv,1418257028,BrovietUnion1,1
15,3,0,Haven't been on nearly as good of behavior as ...,progresspics,"Update [M/24/6'0""]: 1.5 years later, got fat a...",t3_2owbfv,1418256978,BrovietUnion1,1
16,1,0,Haha there wasn't a huge August - September di...,progresspics,"Update [M/24/6'0""]: 1.5 years later, got fat a...",t3_2owbfv,1418249651,BrovietUnion1,1
17,3,0,"The pics represent August, October, November, ...",progresspics,"Update [M/24/6'0""]: 1.5 years later, got fat a...",t3_2owbfv,1418243240,BrovietUnion1,1
18,2,0,[Find something cool to do at home!](http://ww...,AskReddit,"Reddit, if your parents watched a videotape of...",t3_1fea2c,1370030202,BrovietUnion1,1
19,3,0,"Actually, no. How do I measure that? Happy to ...",progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369945810,BrovietUnion1,1
20,3,0,Hmmm. Strange that your routine isn't easy but...,progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369929450,BrovietUnion1,1
21,8,0,Thanks! This [first thread](http://www.reddit....,progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369929100,BrovietUnion1,1
22,15,0,Haha my girlfriend and I have been dating for ...,progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369918941,BrovietUnion1,1
23,3,0,"Thanks!! And I know, it wasn't a terrible star...",progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369918356,BrovietUnion1,1
24,5,0,Lol I *don't* make enough money... at the mome...,progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369887139,BrovietUnion1,1
25,8,0,/u/ohrejoyce is pretty much right. I read thro...,progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369887044,BrovietUnion1,1
26,3,0,I know :) not sure who downvoted you though :-/,progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369886018,BrovietUnion1,1
27,9,0,"Haha thanks, she's not so bad herself though.\...",progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369878979,BrovietUnion1,1
28,28,0,Thanks!\r\n\r\nI put on weight over a few mont...,progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369877315,BrovietUnion1,1
29,8,0,On the advice of another redditor from [this t...,progresspics,"Update: M/22/6'0"", 202 to 177lbs in 20 weeks. ...",t3_1fay80,1369875188,BrovietUnion1,1
...,...,...,...,...,...,...,...,...,...
973766,0,0,"Not all merchants accept Interac, very few do ...",PersonalFinanceCanada,Any Canadian banks offer debit cards backed by...,t3_29k4wh,1404856642,ribati,3340
973767,0,0,what you had before was interac.,PersonalFinanceCanada,Any Canadian banks offer debit cards backed by...,t3_29k4wh,1404704432,ribati,3340
973768,0,0,what do you mean by that?,Fitness,Bad day in the gym? There was a reason for it!,t3_29yv5b,1404682195,ribati,3340
973769,0,0,future bitch,funny,My daughter's list in case anything happens to...,t3_29z54f,1404681705,ribati,3340
973770,1,0,how much did the whole trip cost you?,pics,My wife and I saved for two years for a once-i...,t3_29xgjy,1404666635,ribati,3340
973771,0,0,"Hey bitch, bring a coffee now = $0",pics,Morning coffee in Honduras. (Good pricing).,t3_29xanf,1404622550,ribati,3340
973772,0,0,what a pair of dickheads,Fitness,Today I was forced to be the biggest douche at...,t3_29wrl0,1404615591,ribati,3340
973773,0,0,"douche, nobody would recognize him if it wasn'...",cringe,Tim Howard blocks fan hug,t3_29s21h,1404612280,ribati,3340
973774,2,1,That's a bad case of the Stockholm Sydrome,AskReddit,(SERIOUS). People who married then realised th...,t3_29vmtw,1404571178,ribati,3340
973775,-1,0,Keep a small balance the whole month and pay i...,personalfinance,How should I use my credit cards to increase m...,t3_29w9o9,1404570321,ribati,3340
973776,1,0,A plasma globe,AskReddit,"What is the coolest, most unique thing that yo...",t3_29k6iv,1404261578,ribati,3340
973777,1,0,The whole bitcoin bubble is pure cringe,cringe,The first minute of this presentation,t3_29cqqz,1404167104,ribati,3340
973778,1,0,if you have an account on imgur you can delete...,steroids,[Cycle Report] 3 week DNP cycle,t3_291l4z,1404161629,ribati,3340
973779,1,0,Is covering your face not enough?,steroids,[Cycle Report] 3 week DNP cycle,t3_291l4z,1404160125,ribati,3340
973780,-5,0,"People come in in the summer when it's sunny, ...",montreal,Montreal does it right,t3_29g84e,1404151787,ribati,3340
973781,1,0,"It was already done, my T is in the normal and...",steroids,[Forum] Ask /r/steroids Anything -- Close enough.,t3_29fyut,1404151144,ribati,3340
973782,2,0,Have you taken a pre-workout before going to t...,Fitness,I get lightheaded sometimes during workouts,t3_29hiaw,1404149185,ribati,3340
973783,1,0,is it retarded to ask my GP/Endocrinologist ab...,steroids,[Forum] Ask /r/steroids Anything -- Close enough.,t3_29fyut,1404148364,ribati,3340
973784,1,0,because there is an opening not a hole,AskReddit,What's a joke that's so stupid it's funny?,t3_29e0iw,1404082273,ribati,3340
973785,1,0,it's a white neighborhood,UpliftingNews,North Dakota coffee shop has no employees staf...,t3_2995w7,1403908518,ribati,3340
973786,1,0,missing lettuce,food,"It's not one of those monster burger, but ever...",t3_298kgq,1403891726,ribati,3340
973787,1,0,"these are good expectationvsreality posts, the...",ExpectationVsReality,Talking soccer with other Americans,t3_28h122,1403840650,ribati,3340
973788,1,0,Thanks for the info.,techsupport,Kingston HyperX 3k SSD - Suddenly throwing a S...,t3_35k6vw,1431318758,Iron_Raiden_Mecord,3341
973789,1,0,&gt; bait and switch on the v300 models. \r\n...,techsupport,Kingston HyperX 3k SSD - Suddenly throwing a S...,t3_35k6vw,1431318295,Iron_Raiden_Mecord,3341
973790,1,0,"It's just called ""Classic""",pebble,"[Band][Skin] My Pebble customization, if anyon...",t3_34bu4g,1430518652,Iron_Raiden_Mecord,3341
973791,1,0,The line above the date is the battery. In tha...,pebble,"[Band][Skin] My Pebble customization, if anyon...",t3_34bu4g,1430407342,Iron_Raiden_Mecord,3341
973792,1,0,Lol! it was first thing I could find to prop i...,pebble,"[Band][Skin] My Pebble customization, if anyon...",t3_34bu4g,1430357194,Iron_Raiden_Mecord,3341
973793,1,0,"Thanks for the warning. Funnily enough, due to...",pebble,"[Band][Skin] My Pebble customization, if anyon...",t3_34bu4g,1430351332,Iron_Raiden_Mecord,3341
973794,3,0,"OG black Pebble, skin is GadgetWraps dark tamo...",pebble,"[Band][Skin] My Pebble customization, if anyon...",t3_34bu4g,1430345900,Iron_Raiden_Mecord,3341
973795,4,0,"Do NOT let it go almost dead, whatever you do....",pebble,At what battery percentage do you charge your ...,t3_2r9yco,1420355497,Iron_Raiden_Mecord,3341

In [66]:
userCommentDataCleaned2['subreddit'].value_counts()

AskReddit          107219
progresspics        35190
loseit              29264
funny               25373
pics                24968
AdviceAnimals       20350
Fitness             18635
keto                15031
WTF                 14239
MakeupAddiction     12146
videos              10504
gaming              10200
trees                8090
IAmA                 7942
nfl                  7558
...
mildlyenteristing        1
ecchi                    1
nerdblock                1
RandomActsOfPetFood      1
cfbball                  1
tmbg                     1
cheerleaders             1
OregonCoast              1
TechnicalDeathMetal      1
Sum41                    1
Techno                   1
thronescomics            1
colorador4r              1
aaaaaatheismmmmmmmmmm    1
StarWarsEU               1
Length: 9351, dtype: int64

Alright, let's output this into a sql table:

In [67]:
redditDataIO.exportDataToSQL(userCommentDataCleaned2, tableName='userCommentData')

Index([u'score', u'controversiality', u'body', u'subreddit', u'link_title', u'link_id', u'created_utc', u'username', u'userid'], dtype='object')

/Users/alexsutherland/anaconda/lib/python2.7/site-packages/pymysql/cursors.py:134: Warning: Unknown table 'redditweightdatabase.usercommentdata'
  result = self._query(query)

InternalError: (InternalError) (1054, u"Unknown column 'nan' in 'field list'") 'INSERT INTO `userCommentData` (`index`, score, controversiality, body, subreddit, link_title, link_id, created_utc, username, userid) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)' ((0, 2.0, 0.0, "Lenny is the man. I'm good friends with his son and met him on one occasion; he loves his role as batman and brings a lot of happiness to people under the radar. The guy is a legend in my circle of friends.", 'funny', 'Millionaires In America (Not OC)', 't3_2u8mg2', 1422674804.0, 'BrovietUnion1', 1.0), (1, 11.0, 0.0, 'CondoInternet, brobeans.', 'technology', 'SpaceX confirms $1 billion funding round with Google', 't3_2t3giy', 1421824107.0, 'BrovietUnion1', 1.0), (2, 2.0, 0.0, 'Baller, thanks!! Happy new year!', 'Seattle', "First New Year's Eve in Seattle, and I have a friend arriving at the airport at 8:30pm on NYE. Is it better for me to pick my friend up, or have them take a cab to me? Any tips/advice?", 't3_2qwaqb', 1420078827.0, 'BrovietUnion1', 1.0), (3, 1.0, 0.0, 'Awesome, thanks for the advice!', 'Seattle', "First New Year's Eve in Seattle, and I have a friend arriving at the airport at 8:30pm on NYE. Is it better for me to pick my friend up, or have them take a cab to me? Any tips/advice?", 't3_2qwaqb', 1420048144.0, 'BrovietUnion1', 1.0), (4, 3.0, 0.0, "Great call! I'm from a place with 0 public transport, so that didn't even cross my mind. We'll walk from downtown to cap hill, thanks so much!", 'Seattle', "First New Year's Eve in Seattle, and I have a friend arriving at the airport at 8:30pm on NYE. Is it better for me to pick my friend up, or have them take a cab to me? Any tips/advice?", 't3_2qwaqb', 1420008479.0, 'BrovietUnion1', 1.0), (5, 1.0, 0.0, "That number was from when I was cutting 2-3 lbs/week (if you see my previous posts from last year). I think a lot of people rightfully pointed out that I used to weight lift, so I had some muscle underneath the pudge. Last time, I really spent a ton of time just cutting weight, doing cardio, and low-weight-high-rep weightlifting to keep myself strong. This time, I think it's been more exercised-induced progress, and less about diet or calorie counting.\r\n\r\nThat said, I'm trying to get back into that &gt;500 calorie deficit/day range so I can drop 5 or so more pounds in the next month or two.", 'progresspics', 'Update [M/24/6\'0"]: 1.5 years later, got fat again! My girlfriend broke up with me 4 months ago, so I whipped myself back into shape: 195 -&gt; 185 lbs over 4 months of being single, plus muscle gain. The weight will come back, you have to keep at it!', 't3_2owbfv', 1418377352.0, 'BrovietUnion1', 1.0), (6, 2.0, 0.0, 'Haha well thanks for the ideas. This thread was helpful, going on date 2 with someone tomorrow night. Hopefully she likes video games!', 'AskWomen', 'I\'ve often wondered: What is your perfect "first, second, third" date combination? That is, what would you personally love to do and happen on your first 3 dates with someone new?', 't3_2p0cyo', 1418345620.0, 'BrovietUnion1', 1.0), (7, 2.0, 0.0, "Sounds super fun! I'd definitely be down haha sounds like date 3 may be about more than video games though ;)", 'AskWomen', 'I\'ve often wondered: What is your perfect "first, second, third" date combination? That is, what would you personally love to do and happen on your first 3 dates with someone new?', 't3_2p0cyo', 1418344135.0, 'BrovietUnion1', 1.0)  ... displaying 10 of 973690 total bound parameter sets ...  (973794, 3.0, 0.0, 'OG black Pebble, skin is GadgetWraps dark tamo, band is Richard Tracy wide body black matte leather (bought by my gf for my birthday).', 'pebble', '[Band][Skin] My Pebble customization, if anyone cares.', 't3_34bu4g', 1430345900.0, 'Iron_Raiden_Mecord', 3341.0), (973795, 4.0, 0.0, 'Do NOT let it go almost dead, whatever you do. That\'s a great way to dramatically shorten the lifespan of a Li-ion/LiPo battery, and since you can\'t really replace the battery on a Pebble, trashed battery = trashed watch. It\'s much better to just "top it off" whenever it\'s convenient. I usually do it around 50%, which takes a few days anyway.', 'pebble', 'At what battery percentage do you charge your pebble?', 't3_2r9yco', 1420355497.0, 'Iron_Raiden_Mecord', 3341.0))

Whoops, we need to remove any row that has NaNs

In [68]:
userCommentDataCleaned3 = userCommentDataCleaned2.dropna()

In [71]:
userCommentDataCleaned3.shape[0] - userCommentDataCleaned2.shape[0]

-251

That removed 251 rows that had NaN. With those gone, let's try exporting again:

In [73]:
redditDataIO.exportDataToSQL(userCommentDataCleaned3, tableName='userCommentData')

Index([u'score', u'controversiality', u'body', u'subreddit', u'link_title', u'link_id', u'created_utc', u'username', u'userid'], dtype='object')
Exported Data to SQL Table (Name: userCommentData)